<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}}</title>
  <link rel="stylesheet" href="{{root}}css/main.css">
  <link rel="stylesheet" href="{{root}}css/animate.min.css">
</head>
<body>

{{> body}}

<script src="{{root}}/js/main.js"></script>
</body>
</html>